@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.education {
    height: 100vh;
    width: 100vw;

    .edu-title {
        margin-bottom: 3.5vh;
        width: 100%;
        padding-top: 13vh;
        padding-left: 10vw;
    }

    .edu-schools {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .school {
            height: 22vh;
            width: 75%;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: start;
            box-shadow: 7px 7px 7px rgba(255, 255, 255, 0.5);

            .school-logo {
                width: 20%;
                padding-left: 1vw;
            }

            .school-bio {
                .school-name {
                    margin-top: 15px;
                    font-size: 20px;
                    font-weight: 700;

                    .school-batch {
                        margin-left: 130px;
                        display: inline;
                    }
                }

                .school-course {
                    font-size: 18px;
                    font-weight: 600;
                    
                    .school-score {
                        margin-left: 280px;
                        display: inline;
                    }
                }
            }
        }

        .dau {
            margin-bottom: 2vh;
            .school-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 17%;
                margin-right: 18px;
                margin-left: 14px;
                background-color: #fff;
                img {
                    width: 80%;
                }
            }
        }

        .pioneer {
            margin-bottom: 2vh;
            .school-logo img {
                width: 50%;
                margin-left: 30px;
            }
        }
    }
}
