@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.achievements {
    height: 150vh;
    width: 100vw;
    
    .achiev-title {
        width: 100%;
        padding-top: 13vh;
        padding-left: 10vw;
        margin-bottom: 35px;
    }

    .coding-profiles {
        height:75vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .code-profile {
            height: 20vh;
            width: 50%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            border: 2px solid black;

            a {
                text-decoration: none;
                color: inherit;
                display: inline-block;
            }

            .code-profile-logo {
                width: 20%;
                padding-left: 1vw;

                img {
                    width: 80%;
                }
            }

            .code-profile-bio {
                .code-profile-name {
                    font-size: 20px;
                    font-weight: 700;
                }

                .code-profile-rating {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

    .coding-certificate {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .coding-certificate-title {
            font-weight: 700;
            font-size: 1.4rem; 
            padding-right: 71%;   
        }

        .coding-certi {
            height: 6vh;
            width: 70%;
            font-size: 18px;
            border-bottom: 0.5px solid black;
            margin-bottom: 10px;
            padding: 10px;
        }
    }

    .coding-achievement {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .coding-achievement-title {
            font-weight: 700;
            font-size: 1.4rem;  
            padding-right: 62.5%;  
        }

        .coding-achieve {
            height: 6vh;
            width: 70%;
            font-size: 18px;
            border-bottom: 0.5px solid black;
            margin-bottom: 10px;
            padding: 10px;
        }
    }
}
