@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.achievements {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    padding-top: 5rem;

    .ach-root {
        background-color: #17153B;
        width: 70%;
        padding: 3rem;
        border: 3px solid rgba(180, 180, 180, 0.4);
        box-shadow: 0 0 10px rgba(180, 180, 180, 0.4);
        border-radius: 20px;

        .achiev-title {
            width: 100%;
            margin-bottom: 25px;
        }

        .skills {
            height: 18rem;
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: #17153B;
            border-radius: 15px;
            padding: 10px 10px 10px 125px;
            margin-bottom: 3rem;

            p {
                display: inline;
            }

            .sk-title {
                display: inline;
                font-weight: 700;
                font-size: 1.2rem;
                margin-right: 10px;
            }

            .skill {
                display: flex;
                align-items: center;
                justify-content: start;
                text-align: left;
                height: 16%;
                width: 100%;
                background-color: #2E236C;
                border-radius: 10px;
                padding-left: 10px;
                padding-top: 10px;
                box-shadow: 2px 2px 2px rgba(180, 180, 180, 0.4);
                transition: all 0.3s ease;
            }

            .skill:hover {
                transform: scale(1.1);
                transition: all 0.3s ease;
                box-shadow: 0 0 10px rgba(180, 180, 180, 0.5);
            }
        }

        .achievs {
            height: 25rem;
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: #17153B;
            border-radius: 15px;
            padding: 10px 10px 10px 125px;
            margin-bottom: 3rem;

            p {
                display: inline;
            }

            a {
                display: inline;
                color: #fff;
                margin-bottom: 15px;
                margin-left: 10px;
            }

            .ac-title {
                display: inline;
                font-weight: 700;
                font-size: 1.2rem;
                margin-right: 10px;
            }

            .ach {
                display: flex;
                align-items: center;
                justify-content: start;
                text-align: left;
                height: 13%;
                width: 100%;
                background-color: #2E236C;
                border-radius: 10px;
                padding-left: 10px;
                padding-top: 10px;
                box-shadow: 2px 2px 2px rgba(180, 180, 180, 0.4);
                transition: all 0.3s ease;
            }

            .ach:hover {
                transform: scale(1.1);
                transition: all 0.3s ease;
                box-shadow: 0 0 10px rgba(180, 180, 180, 0.5);
            }
        }
    }
}
