@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.achievements {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
    .achiev-title {
        width: 100%;
        padding-top: 13vh;
        padding-left: 10vw;
        margin-bottom: 35px;
    }

    .skills {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 10rem;
        width: 60%;
        background-color: #440389;
        border-radius: 18px;
    }

    .skill-card {
        height: 7rem;
        width: 7rem;
        background: rgb(33, 1, 102);
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 42px;
            height: 42px;
            margin-bottom: 12px;
        }

        p {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.4px;
        }
    }

}
