@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.Resume {
    min-height: 50vh;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .get-res {
        height: 20rem;
        width: 70%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        border-radius: 7px;
        box-shadow: 0 0 40px rgba(0, 0, 255, 0.6), 0 5px 15px rgba(255, 255, 255, 0.5);

        .res-img {
            height: 100%;
            width: 19%;
            
            img {
                height: 100%;
                width: 100%;
            }
        }

        .res-desc {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            h1 {
                margin-bottom: 2rem;
                width: 100%;
                padding-left: 15rem;
            }

            button {
                padding: 10px;
                background-color: rgb(65, 4, 164);
                margin-right: 20px;
                margin-left: 10px;
                border-radius: 10px;
                box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
                transition: all 0.2s ease;
            }

            button:hover {
                transform: scale(1.1);
                transition: all 0.2s ease;
                box-shadow: 2px 3px 3px rgba(255, 255, 255, 0.4);
            }
        }
    }
}
