@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.home {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    /* background-color: ; */

    .name {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-top: 35vh;
        text-align: left;

        h1 {
            /* background-color: white; */
        }

        h2 {
            padding-right: 35px;
            margin-bottom: 25px;
            span {
                /* color: #7C3AED; */
                color: #8B5CF6;
                /* color: #3B82F6; 
                color: #22D3EE; */
                font-weight: 600;
            }
        }

        .typewriter-wrapper {
            width: 100%;
            height: 7vh;
            margin-left: 21vw;
            margin-bottom: 20px;
        }

        .home-socials {
            height: 50px;
            width: 30vw;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                transition: all 0.5s ease;
                border-radius: 25%;
                box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.35);
                background-color: #f0f0f0;

                img {
                    height: 30px;
                    width:30px;
                }
            }

            a:hover {
                transform: scale(1.3);
                transition: all 0.1s ease;
                background-color: rgba(200, 200, 200, 0.5);
            }
        }
    }

    .home-photo {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-left: 100px;
            margin-top: 5%;
            border: 3px solid rgba(187, 134, 252, 0.7);
            border-radius: 50%;
            height: 60%;
            width: 55%;
            box-shadow: 0px 0px 100px rgba(100, 100, 100, 0.3);
            transition: all 0.4s ease;
        }

        img:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px white;
            transition: all 0.4s ease;
        }
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

