@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .title {
        margin-top: 13vh;
        width: 100%;
        padding-left: 10vw;
        margin-bottom: 2rem;
    }

    .contact-form {
        width: 70%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 3vw 0 3vw;
        background-color: #430A5D;
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: 0 0 10px #EEE4B1;

        .form-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 49%;
                height: 7vh;
                padding-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        input {
            width: 100%;
            height: 7vh;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            border-radius: 7px;
            background-color: #430A5D;
            border: 1.5px solid #F0f0f0;
        }

        textarea {
            width: 100%;
            height: 22vh;
            margin-top: 20px;
            padding: 6px 10px 6px 10px;
            border-radius: 7px;
            background-color: #430A5D;
            border: 1.5px solid #F0f0f0;
        }

        button {
            margin-top: 20px;
            padding: 10px;
            background-color: #5F374B;
            border-radius: 7px;
            transition: all 0.2s ease;
        }

        button:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
            transition: all 0.2s ease;
        }
    }
}

.success-msg {
    color: #2ecc71;
    margin-top: 10px;
    text-align: center;
}

.error-msg {
    color: #e74c3c;
    margin-top: 10px;
    text-align: center;
}
