@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.contact {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 5rem;

    .contact-root {
        height: 100%;
        width: 70%;
        background-color: #202040;
        padding: 3rem;
        border: 3px solid rgba(180, 180, 180, 0.4);
        box-shadow: 0 0 10px rgba(180, 180, 180, 0.4);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .title {
            width: 100%;
            margin-bottom: 2.2rem;
            text-align: center;
        }

        .contact-form {
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 2rem 0 2rem;
            margin-bottom: 1rem;
            border-radius: 20px;
            background-color: #413C69;

            .form-row {
                width: 100%;

                input {
                    width: 100%;
                    height: 3rem;
                    padding-left: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            input {
                width: 100%;
                height: 3rem;
                padding-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                border-radius: 7px;
                background-color: #413C69;
                border: 1.5px solid #F0f0f0;
            }

            textarea {
                width: 100%;
                height: 22vh;
                margin-top: 20px;
                padding: 6px 10px 6px 10px;
                border-radius: 7px;
                background-color: #413C69;
                border: 1.5px solid #F0f0f0;
                resize: none;
            }

            button {
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 10px;
                background-color: #4A47A3;
                border-radius: 7px;
                transition: all 0.2s ease;
            }

            button:hover {
                transform: scale(1.1);
                box-shadow: 0 0 10px rgba(200, 200, 200, 0.5);
                transition: all 0.2s ease;
            }
        }
    }
}

.success-msg {
    color: #2ecc71;
    margin-top: 10px;
    text-align: center;
}

.error-msg {
    color: #e74c3c;
    margin-top: 10px;
    text-align: center;
}
