@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.about {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .myphoto {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            height: 60vh;
            border-radius: 5%;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
        }
    }

    .aboutme {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .about-name {
            width: 100%;
        }

        .about-name :nth-child(2) {
            margin-top: 40px;
        }

        .about-name :nth-child(3) {
            margin-top: 7px;
        }

        .about-bio {
            margin-top: 10px;
            font-size: 20px;
        }
    }

    .button {
        width: 15%;
    }
}
