@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.projects {
    min-height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    overflow: hidden;

    .pro-root {
        height: 100%;
        width: 90%;
        background-color: #363062;
        padding: 3rem;
        border: 3px solid rgba(180, 180, 180, 0.4);
        box-shadow: 0 0 10px rgba(180, 180, 180, 0.4);
        border-radius: 20px;

        .projects-title {
            width: 100%;
            margin-bottom: 2.2rem;
        }

        .all-project {
            height: 30rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 18px;

            .project-card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 29%;
                background-color: #435585;
                border-radius: 18px;
                padding: 10px;
                box-shadow: 5px 5px 5px rgb(245, 232, 199, 0.4);
                transition: all 0.3s ease;

                .proj-img {
                    height: 44%;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                .proj-desc {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* flex-direction: column; */
                    flex-wrap: wrap;
                    height: 56%;
                    width: 100%;
                    padding: 10px 3px 3px 3px;

                    h3 {
                        width: 100%;
                        text-align: center;
                    }

                    p {
                        width: 100%;
                        text-align: center;
                    }

                    button {
                        background-color: #818FB4;
                        padding: 7px;
                        border-radius: 10px;
                        margin-right: 25px;
                        margin-left: 25px;
                        box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.4);
                        transition: all 0.2s ease;

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                    button:hover {
                        transform: scale(1.1);
                        box-shadow: 0 0 15px rgba(50, 50, 50, 0.5);
                        transition: all 0.2s ease;
                    }
                }
            }

            .project-card:hover {
                transform: scale(1.1);
                box-shadow: 0 0 10px rgb(245, 232, 199, 0.5);
                transition: all 0.3s ease;
            }
        }
    }
}
