@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.projects {
    width: 100vw;
    overflow-y: hidden;

    .projects-title {
        width: 100%;
        padding-top: 13vh;
        padding-left: 10vw;
    }

    .all-project {
        margin-top: 2rem;
        height: 29rem;
        width: 74%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #2D3250;
        margin-left: 13%;
        border-radius: 18px;

        .project-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 92%;
            width: 29%;
            background-color: #424769;
            border-radius: 18px;
            padding: 10px;
            box-shadow: 5px 5px 5px rgba(120, 120, 120, 0.4);
            transition: all 0.3s ease;

            .proj-img {
                height: 44%;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .proj-desc {
                display: flex;
                justify-content: center;
                align-items: center;
                /* flex-direction: column; */
                flex-wrap: wrap;
                height: 56%;
                width: 100%;
                padding: 10px 3px 3px 3px;

                h3 {
                    width: 100%;
                    text-align: center;
                }

                p {
                    width: 100%;
                    text-align: center;
                }

                button {
                    background-color: #7077A1;
                    padding: 7px;
                    border-radius: 10px;
                    margin-right: 25px;
                    margin-left: 25px;
                    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.4);
                    transition: all 0.2s ease;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }

                button:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);
                    transition: all 0.2s ease;
                }
            }
        }

        .project-card:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(120, 120, 120, 0.3);
            transition: all 0.3s ease;
        }
    }
}
