@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.projects {
    min-height: 150vh;
    width: 100vw;

    .projects-title {
        width: 100%;
        padding-top: 13vh;
        padding-left: 10vw;
    }

    .projects-all {
        margin-top: 2rem;
        min-height: 90vh;
        width: 88vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 11vw;

        .project-one {
            margin-bottom: 2.5em;
            height: 20rem;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            border: 2px solid black;
            padding: 1em 1em 0 1em;

            a {
                text-decoration: none;
                color: inherit;
                display: inline-block;
            }

            .project-one-title :nth-child(2) {
                padding-left: 1.88em;
            }

            .project-one-photo {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 15em;
                overflow: hidden;
                margin: 2em 0 2em 0;

                img {
                    height: 100%;
                    width: 30%;
                    object-fit: contain;
                }
            }

            .project-one-desc {
                margin-left: 2em;
            }
        }
    }
}
